name: sightglass

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info

  REVISION: "v38.0.3"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - run: rustup update
    - run: rustup component add rustfmt
    - run: cargo fmt --all -- --check

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v4
    - run: rustup update
    - name: Download Cached Wasmtime engine
      uses: actions/cache@v4
      id: wasmtime-cache
      with:
        path: engines/wasmtime/*
        key: wasmtime-${{ runner.os }}-${{ env.REVISION }}

    - name: Build Wasmtime engine
      if: steps.wasmtime-cache.outputs.cache-hit != 'true'
      working-directory: ./engines/wasmtime
      env:
        REVISION: ${{ env.REVISION }}
      run: |
           rustc build.rs
           ./build

    - name: Build all
      run: cargo build --verbose --all

    - name: Test all
      run: cargo test --verbose --all
      env:
        RUST_BACKTRACE: 1
