name: sightglass

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info

  # The Wasmtime commit that we build the bench API from for testing. Bumping
  # this will automatically cause us to update our CI cache on the next run.
  WASMTIME_COMMIT: "a2e71dafac4d2e42ed6edbc77081d39a40f4c3ff"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install stable
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - run: rustup component add rustfmt
    - run: cargo fmt --all -- --check

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2

    - name: Install nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly

    - name: Download Cached Wasmtime engine
      uses: actions/cache@v2
      id: wasmtime-cache
      with:
        path: engines/wasmtime/*
        key: wasmtime-${{ runner.os }}-${{ env.WASMTIME_COMMIT }}

    - name: Build Wasmtime engine
      if: steps.wasmtime-cache.outputs.cache-hit != 'true'
      working-directory: ./engines/wasmtime
      run: |
           rustc build.rs
           ./build

    - name: Build all
      run: cargo +nightly build --verbose --all

    - name: Test all
      run: cargo +nightly test --verbose --all
